@{
    ViewData["Title"] = "Danmar's Page";
}
<div class="danmar-container">
    <h1 class="display-5">Danmar Cornelio P. Nacario</h1>
    <img src="~/img/LiveIT.png" height="auto" width="800px"/>
</div>
