@{
    ViewData["Title"] = "Hello World";
}

<div class="text-center">
    <h1 class="display-4">Waren Auman</h1>
    <p>This is my page</a>.</p>
</div>


<div class="col-lg-6 d-flex" style="margin: 0 auto;">
    <img style="width:300px" src="~/img/cat.jpg" />
    <img style="width:300px" src="~/img/dog.jpeg" />
</div>