@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<br />
<div class="w3-center">
    <h1>STUDENTS</h1>
</div>
<div>
    <table class="w3-table-all">
        <tr>
            <th>IDNO</th>
            <th>FIRSTNAME</th>
            <th>LASTNAME</th>
            <th>COURSE</th>
            <th>LEVEL</th>
            <th>ACTION</th>
        </tr>
        <tr id="student1">
            <td>19853050</td>
            <td>KARL</td>
            <td>DELFIN</td>
            <td>BSIT</td>
            <td>4</td>
            <td>
                <button onclick="updateStudent1('modal1','19853050','KARL','DELFIN','BSIT','4')" class="w3-button w3-hover-none w3-text-blue">&#9998;</button>
                <button onclick="deleteStudent1()" class="w3-button w3-hover-none w3-text-red">&times;</button>
            </td>
        </tr>
        <tr id="student2">
            <td>19853051</td>
            <td>RASTA</td>
            <td>MAN</td>
            <td>BSCPE</td>
            <td>2</td>
            <td>
                <button onclick="updateStudent2('modal2','19853051','RASTA','MAN','BSCPE','2')" class="w3-button w3-hover-none w3-text-blue" href="">&#9998;</button>
                <button onclick="deleteStudent2()" class="w3-button w3-hover-none w3-text-red">&times;</button>
            </td>
        </tr>
        <tr id="student3">
            <td>19853052</td>
            <td>DOLOR</td>
            <td>PINO</td>
            <td>BSIT</td>
            <td>1</td>
            <td>
                <button onclick="updateStudent3('modal3','19853052','DOLOR','PINO','BSIT','1')" class="w3-button w3-hover-none w3-text-blue" href="">&#9998;</button>
                <button onclick="deleteStudent3()" class="w3-button w3-hover-none w3-text-red">&times;</button>
            </td>
        </tr>
    </table>
    <div class="w3-modal" id="modal1">
        <div class="w3-modal-content w3-padding-large w3-animate-top">
            <button class="w3-text-red w3-button w3-hover-none w3-right" onclick="modalControl('modal1','none')">&times;</button>
            <h2>VIEW STUDENT</h2>
            IDNO
            <input type="text" disabled class="w3-input" id="idno1" />
            FIRSTNAME
            <input type="text" disabled class="w3-input" id="firstname1" />
            LASTNAME
            <input type="text" disabled class="w3-input" id="lastname1" />
            COURSE
            <input type="text" disabled class="w3-input" id="course1" />
            LEVEL
            <input type="text" disabled class="w3-input" id="level1" />
        </div>
    </div>
    <div class="w3-modal" id="modal2">
        <div class="w3-modal-content w3-padding-large w3-animate-top">
            <button class="w3-text-red w3-button w3-hover-none w3-right" onclick="modalControl('modal2','none')">&times;</button>
            <h2>UPDATE STUDENT</h2>
            IDNO
            <input type="text" disabled class="w3-input" id="idno2" />
            FIRSTNAME
            <input type="text" disabled class="w3-input" id="firstname2" />
            LASTNAME
            <input type="text" disabled class="w3-input" id="lastname2" />
            COURSE
            <input type="text" disabled class="w3-input" id="course2" />
            LEVEL
            <input type="text" disabled class="w3-input" id="level2" />
        </div>
    </div>
    <div class="w3-modal" id="modal3">
        <div class="w3-modal-content w3-padding-large w3-animate-top">
            <button class="w3-text-red w3-button w3-hover-none w3-right" onclick="modalControl('modal3','none')">&times;</button>
            <h2>UPDATE STUDENT</h2>
            IDNO
            <input type="text" disabled class="w3-input" id="idno3" />
            FIRSTNAME
            <input type="text" disabled class="w3-input" id="firstname3" />
            LASTNAME
            <input type="text" disabled class="w3-input" id="lastname3" />
            COURSE
            <input type="text" disabled class="w3-input" id="course3" />
            LEVEL
            <input type="text" disabled class="w3-input" id="level3" />
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    function updateStudent1(modalID, idno, firstname, lastname, course, level) {
        $("#idno1").val(idno);
        $("#firstname1").val(firstname);
        $("#lastname1").val(lastname);
        $("#course1").val(course);
        $("#level1").val(level);
        modalControl(modalID, 'block');
    }
    function updateStudent2(modalID, idno, firstname, lastname, course, level) {
        $("#idno2").val(idno);
        $("#firstname2").val(firstname);
        $("#lastname2").val(lastname);
        $("#course2").val(course);
        $("#level2").val(level);
        modalControl(modalID, 'block');
    }
    function updateStudent3(modalID, idno, firstname, lastname, course, level) {
        $("#idno3").val(idno);
        $("#firstname3").val(firstname);
        $("#lastname3").val(lastname);
        $("#course3").val(course);
        $("#level3").val(level);
        modalControl(modalID, 'block');
    }
    function modalControl(id, action) {
        document.getElementById(id).style.display = action;
    }
    function deleteStudent1() {
        if (confirm("Do you want to delete this student?")) {
            $("#student1").hide();
        }
    }
    function deleteStudent2() {
        if (confirm("Do you want to delete this student?")) {
            $("#student2").hide();
        }
    }
    function deleteStudent3() {
        if (confirm("Do you want to delete this student?")) {
            $("#student3").hide();
        }
    }


</script>
